html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#work-space {
  height: 100%;
  overflow: scroll;
}

#main-content {
  width: 3000px;
  height: 3000px;
  background-color: rgb(78, 78, 78);
  background-image: url("https://i.imgur.com/l5qxwqg.png");
  background-size: 15% 15%;
  background-position: center;
  background-repeat: repeat;
}

#left-menu {
  padding: 10px;
  transition: 0.6s;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 40px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
}

#left-menu:hover {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: calc(100vw - 62%);
}
