html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.work-space {
  height: 100%;
  width: 100%;
  overflow: scroll;
  cursor: grab;
}

.space-stop {
  touch-action: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition: 0.3s;
  background-color: rgb(116, 116, 116);
}

#main-content {
  width: 3000px;
  height: 3000px;
  background-color: rgb(78, 78, 78);
  background-image: url("background.png");
  background-size: 15% 15%;
  background-position: center;
  background-repeat: repeat;
}

.left-menu {
  padding: 10px;
  transition: 0.6s;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 40px;
  cursor: pointer;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.left-menu > * {
  opacity: 0;
}

.left-menu-open {
  backdrop-filter: blur(4px);
  width: 150px;
}

.left-menu-open > * {
  opacity: 1;
}

.block {
  width: 100px;
  height: 100px;
}

.sample-block {
  background-color: aquamarine;
}

.draggable {
  position: absolute;
  background-color: rgb(255, 161, 37);
  z-index: 100;
  pointer-events: none;
}

.main-block {
  position: relative;
  background-color: rgb(67, 184, 0);
}
